<h1>Delete by Page or Rating</h1>

= form_tag action: "deletermovie", method: "post" do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['---','G','PG','PG-13','R','NC-17']

  = submit_tag 'Delete Now'
 